@import url(https://fonts.googleapis.com/css?family=Lato:900,300);
html, body {
  font-family: 'Lato';
  text-align: center;
  background: #FFFAE6;
  color: #012744;
  -webkit-transition: background .2s ease-in, color .2s ease;
  transition: background .2s ease-in, color .2s ease;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vmin;
  height: 50vmin;
  min-height: 220px;
  min-width: 220px;
  border-radius: 100%;
  line-height: 50vmin;
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 35px;
  color: inherit;
}
.circle:before, .circle:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 40px 0 0 rgba(26, 34, 47, 0.5) inset, 0 40px 0 rgba(0, 142, 116, 0.5) inset, -40px 0 0 rgba(178, 224, 151, 0.5) inset, 0 -40px 0 rgba(210, 67, 53, 0.5) inset;
  -webkit-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
}
.circle:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
}

.title2 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
}

.about {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

.bio {
  font-size: 25px;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 40px;
}

.color-overview {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.color-overview > li {
  display: inline-block;
  vertical-align: bottom;
  width: 20%;
  height: 25px;
  -webkit-transition: background .3s ease-in, height .2s ease;
  transition: background .3s ease-in, height .2s ease;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.color-overview > li:hover {
  height: 40px;
}
.color-overview > li:nth-child(1) {
  background: #1A222F;
}
.color-overview > li:nth-child(2) {
  background: #008E74;
}
.color-overview > li:nth-child(3) {
  background: #B2E097;
}
.color-overview > li:nth-child(4) {
  background: #D24335;
}
.color-overview > li:nth-child(5) {
  background: #1C3A40;
}
.color-overview:after {
  content: '';
  clear: both;
  display: block;
}

.clipboard-info {
  opacity: 0;
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #1A222F;
  color: #FFFAE6;
  padding: 4px 8px;
  border-radius: 4px 4px 0 0;
}

.checkbox input {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0 none;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
}
.checkbox input + .checkbox-box {
  display: block;
  width: 36px;
  height: 18px;
  background: #D24335;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 4px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  cursor: pointer;
}
.checkbox input + .checkbox-box:before {
  content: '';
  position: absolute;
  display: block;
  height: 18px;
  width: 18px;
  background: #1A222F;
  border-radius: 4px;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
  right: 18px;
}
.checkbox input:checked + .checkbox-box {
  background: #B2E097;
}
.checkbox input:checked + .checkbox-box:before {
  right: 0;
}

.checkbox > span {
  position: absolute;
  top: 310px;
}

.checkbox > .label:first-child {
  right: 50%;
  margin-right: 10px;
  -webkit-transform: translate(-18px);
          transform: translate(-18px);
}

.checkbox > .label:last-child {
  left: 50%;
  margin-left: 10px;
  -webkit-transform: translate(18px);
          transform: translate(18px);
}